[Desktop Entry]
Name=Starlight
Comment=Fast application launcher
Exec=starlight
Icon=starlight
Terminal=false
Type=Application
Categories=Utility;Launcher;
StartupNotify=true