[Desktop Entry]
Name=Starlight
Comment=Fast application launcher
Exec=spotlight
Icon=spotlight
Terminal=false
Type=Application
Categories=Utility;Launcher;
StartupNotify=true